<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIC</title>
</head>

<body style="margin: 0; font: 14px Helvetica;">

    Hola!

    <br>
    <br>

    Remito la lista de sus estudiantes, la lista enviada está actualizada a la hora y fecha (es provisional, no final),
    puede variar la cantidad, dependiendo de los retiros o nuevas matrículas. Se recomienda cotejar y actualizar con la
    lista con el APEC (marcación de asistencia).

    <br>
    <br>

    Saludos cordiales

</body>

</html>
